In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests 
from bs4 import BeautifulSoup 
from prettytable import PrettyTable

In [2]:
# Patient dataset
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml?urp=gmail_link#'

In [3]:
# make a GET request to fetch the raw HTML content
web_content = requests.get(url).content

In [4]:
# parse the html content
soup = BeautifulSoup(web_content, "html.parser")

In [5]:
#Raw data

raw_data = [] # initialize state
tables = soup.select('table')[0]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    raw_data.append(cols) 

df_rd = pd.DataFrame(raw_data)
df_rd = df_rd.iloc[1:]
print(df_rd)
df_rd.to_csv('raw_data.csv',index=False)

                  0                     1               2            3   \
1     Patient Number  State Patient Number  Date Announced  Age Bracket
2
3                  1              KL-TS-P1      30/01/2020           20
4                  2              KL-AL-P1      02/02/2020
5                  3              KL-KS-P1      03/02/2020
6                  4                 DL-P1      02/03/2020           45
7                  5                 TS-P1      02/03/2020           24
8                  6                            03/03/2020           69
9                  7                            04/03/2020           55
10                 8                            04/03/2020           55
11                 9                            04/03/2020           55
12                10                            04/03/2020           55
13                11                            04/03/2020           55
14                12                            04/03/2020           55
15                13                            04/03/2020           55
16                14                            04/03/2020           55
17                15                            04/03/2020           55
18                16                            04/03/2020           55
19                17                            04/03/2020           55
20                18                            04/03/2020           55
21                19                            04/03/2020           55
22                20                            04/03/2020           55
23                21                            04/03/2020           70
24                22                            04/03/2020
25                23                            04/03/2020
26                24                            04/03/2020
27                25                            04/03/2020
28                26                            04/03/2020
29                27                            04/03/2020
30                28                            04/03/2020
...              ...                   ...             ...          ...
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115

          4                         5                  6               7   \
1     Gender             Detected City  Detected District  Detected State
2
3          F                  Thrissur           Thrissur          Kerala
4                            Alappuzha          Alappuzha          Kerala
5                            Kasaragod          Kasaragod          Kerala
6          M  East Delhi (Mayur Vihar)         East Delhi           Delhi
7          M                 Hyderabad          Hyderabad       Telangana
8          M                    Jaipur             Jaipur       Rajasthan
9                             Gurugram           Gurugram         Haryana
10                            Gurugram           Gurugram         Haryana
11                            Gurugram           Gurugram         Haryana
12                            Gurugram           Gurugram         Haryana
13                            Gurugram           Gurugram         Haryana
14                            Gurugram           Gurugram         Haryana
15                            Gurugram           Gurugram         Haryana
16                            Gurugram           Gurugram         Haryana
17                            Gurugram           Gurugram         Haryana
18                            Gurugram           Gurugram         Haryana
19                            Gurugram           Gurugram         Haryana
20                            Gurugram           Gurugram         Haryana
21                            Gurugram           Gurugram         Haryana
22                            Gurugram           Gurugram         Haryana
23         F                    Jaipur             Jaipur       Rajasthan
24                                Agra               Agra   Uttar Pradesh
25                                Agra               Agra   Uttar Pradesh
26                                Agra               Agra   Uttar Pradesh
27                                Agra               Agra   Uttar Pradesh
28                                Agra               Agra   Uttar Pradesh
29                                Agra               Agra   Uttar Pradesh
30                                                          Uttar Pradesh
...      ...                       ...                ...             ...
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115

              8               9   ...  \
1     State_code  Current Status  ...
2                                 ...
3             KL       Recovered  ...
4             KL       Recovered  ...
5             KL       Recovered  ...
6             DL       Recovered  ...
7             TG       Recovered  ...
8             RJ       Recovered  ...
9             HR       Recovered  ...
10            HR       Recovered  ...
11            HR       Recovered  ...
12            HR       Recovered  ...
13            HR       Recovered  ...
14            HR       Recovered  ...
15            HR       Recovered  ...
16            HR       Recovered  ...
17            HR       Recovered  ...
18            HR       Recovered  ...
19            HR       Recovered  ...
20            HR       Recovered  ...
21            HR    Hospitalized  ...
22            HR    Hospitalized  ...
23            RJ       Recovered  ...
24            UP    Hospitalized  ...
25            UP    Hospitalized  ...
26            UP    Hospitalized  ...
27            UP    Hospitalized  ...
28            UP    Hospitalized  ...
29            UP    Hospitalized  ...
30            UP    Hospitalized  ...
...          ...             ...  ...
4086                              ...
4087                              ...
4088                              ...
4089                              ...
4090                              ...
4091                              ...
4092                              ...
4093                              ...
4094                              ...
4095                              ...
4096                              ...
4097                              ...
4098                              ...
4099                              ...
4100                              ...
4101                              ...
4102                              ...
4103                              ...
4104                              ...
4105                              ...
4106                              ...
4107                              ...
4108                              ...
4109                              ...
4110                              ...
4111                              ...
4112                              ...
4113                              ...
4114                              ...
4115                              ...

                                                     16  \
1                                              Source_2
2
3     https://weather.com/en-IN/india/news/news/2020...
4     https://weather.com/en-IN/india/news/news/2020...
5     https://twitter.com/ANI/status/122422148580539...
6     https://economictimes.indiatimes.com/news/poli...
7     https://www.indiatoday.in/india/story/coronavi...
8     https://economictimes.indiatimes.com/news/poli...
9     https://www.indiatoday.in/india/story/coronavi...
10    https://www.indiatoday.in/india/story/coronavi...
11    https://www.indiatoday.in/india/story/coronavi...
12    https://www.indiatoday.in/india/story/coronavi...
13    https://www.indiatoday.in/india/story/coronavi...
14    https://www.indiatoday.in/india/story/coronavi...
15    https://www.indiatoday.in/india/story/coronavi...
16    https://www.indiatoday.in/india/story/coronavi...
17    https://www.indiatoday.in/india/story/coronavi...
18    https://www.indiatoday.in/india/story/coronavi...
19    https://www.indiatoday.in/india/story/coronavi...
20    https://www.indiatoday.in/india/story/coronavi...
21    https://www.indiatoday.in/india/story/coronavi...
22    https://www.indiatoday.in/india/story/coronavi...
23    https://www.indiatoday.in/india/story/coronavi...
24
25
26
27
28
29
30    https://www.indiatoday.in/india/story/coronavi...
...                                                 ...
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115

                                                     17  \
1                                              Source_3
2
3                                    Student from Wuhan
4
5     https://weather.com/en-IN/india/news/news/2020...
6
7     https://www.thehindu.com/news/national/coronav...
8     https://twitter.com/PTI_News/status/1240878975...
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23    https://economictimes.indiatimes.com/news/poli...
24
25
26
27
28
29
30
...                                                 ...
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115

                                               18 19 20 21 22 23 24    25
1                                    Backup Notes
2
3                                                                    None
4                              Student from Wuhan
5                              Student from Wuhan
6             Travel history to Italy and Austria
7      Travel history to Dubai, Singapore contact
8                                 Italian tourist
9                                 Italian tourist
10                                Italian tourist
11                                Italian tourist
12                                Italian tourist
13                                Italian tourist
14                                Italian tourist
15                                Italian tourist
16                                Italian tourist
17                                Italian tourist
18                                Italian tourist
19                                Italian tourist
20                                Italian tourist
21                                Italian tourist
22                                Italian tourist
23                   Italian tourist (wife of P6)
24                           Family members of P4
25                           Family members of P4
26                           Family members of P4
27                           Family members of P4
28                           Family members of P4
29                           Family members of P4
30    Indian who accompanied the Italian tourists
...                                           ... .. .. .. .. .. ..   ...
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115

[4115 rows x 26 columns]

In [23]:
#Death and Recovered

death_recovered = [] # initialize state
tables = soup.select('table')[1]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    death_recovered.append(cols)
    
df_dnr = pd.DataFrame(death_recovered)
df_dnr = df_dnr.iloc[1:]
print(df_dnr)
df_dnr.to_csv('death_recovered.csv',index=False)

        0           1            2       3               4          5   \
1    Sl_No        Date  Age Bracket  Gender  Patient Status       City
2
3        1  29/03/2020           85       M        Deceased     Mumbai
4        2  29/03/2020           80       M        Deceased     Mumbai
5        3  29/03/2020           86       F        Deceased  Ghatkopar
6        4  29/03/2020                             Deceased
7        5  29/03/2020                             Deceased
8        6  29/03/2020                             Deceased
9        7  29/03/2020                             Deceased
10       8  29/03/2020                            Recovered
11       9  29/03/2020                            Recovered
12      10  29/03/2020                            Recovered
13      11  29/03/2020                            Recovered
14      12  29/03/2020                            Recovered
15      13  29/03/2020                            Recovered
16      14  29/03/2020                            Recovered
17      15  29/03/2020                            Recovered
18      16  29/03/2020                            Recovered
19      17  29/03/2020                            Recovered
20      18  29/03/2020                            Recovered
21      19  29/03/2020                            Recovered
22      20  29/03/2020                            Recovered
23      21  29/03/2020                            Recovered
24      22  29/03/2020                            Recovered       Pune
25      23  29/03/2020                            Recovered       Pune
26      24  29/03/2020                            Recovered       Pune
27      25  29/03/2020                            Recovered       Pune
28      26  29/03/2020                            Recovered       Pune
29      27  29/03/2020                            Recovered       Pune
30      28  29/03/2020                            Recovered       Pune
..     ...         ...          ...     ...             ...        ...
292    290  03/04/2020                            Recovered
293    291  03/04/2020                            Recovered
294    292  03/04/2020                            Recovered
295    293  03/04/2020                            Recovered
296    294  03/04/2020                            Recovered
297    295  03/04/2020                            Recovered
298    296  03/04/2020                            Recovered
299    297  03/04/2020                            Recovered
300    298  03/04/2020                             Deceased
301    299  03/04/2020                             Deceased
302    300  03/04/2020                             Deceased
303    301  03/04/2020                             Deceased
304    302  03/04/2020                             Deceased
305    303  03/04/2020                             Deceased
306    304  03/04/2020                             Deceased
307    305  03/04/2020                            Recovered
308    306  03/04/2020                            Recovered
309    307  03/04/2020                            Recovered
310    308  03/04/2020                            Recovered
311    309  03/04/2020                            Recovered
312    310  03/04/2020                            Recovered
313    311  03/04/2020                            Recovered
314    312  03/04/2020                            Recovered
315    313  03/04/2020           67       M        Deceased  Ahmadabad
316    314  03/04/2020                             Deceased
317    315  03/04/2020           75       M        Deceased  Bagalkote
318    316
319
320
321

                  6            7          8   \
1           District        State  Statecode
2
3             Mumbai  Maharashtra         MH
4             Mumbai  Maharashtra         MH
5    Mumbai Suburban  Maharashtra         MH
6             Mumbai  Maharashtra         MH
7             Mumbai  Maharashtra         MH
8              Thane  Maharashtra         MH
9            Buldana  Maharashtra         MH
10            Mumbai  Maharashtra         MH
11            Mumbai  Maharashtra         MH
12            Mumbai  Maharashtra         MH
13            Mumbai  Maharashtra         MH
14            Mumbai  Maharashtra         MH
15            Mumbai  Maharashtra         MH
16            Mumbai  Maharashtra         MH
17            Mumbai  Maharashtra         MH
18            Mumbai  Maharashtra         MH
19            Mumbai  Maharashtra         MH
20            Mumbai  Maharashtra         MH
21            Mumbai  Maharashtra         MH
22            Mumbai  Maharashtra         MH
23            Mumbai  Maharashtra         MH
24              Pune  Maharashtra         MH
25              Pune  Maharashtra         MH
26              Pune  Maharashtra         MH
27              Pune  Maharashtra         MH
28              Pune  Maharashtra         MH
29              Pune  Maharashtra         MH
30              Pune  Maharashtra         MH
..               ...          ...        ...
292                     Telangana         TG
293                     Telangana         TG
294                     Telangana         TG
295                     Telangana         TG
296                     Telangana         TG
297                     Telangana         TG
298                     Telangana         TG
299                     Telangana         TG
300                     Telangana         TG
301                     Telangana         TG
302                   Maharashtra         MH
303                   Maharashtra         MH
304                   Maharashtra         MH
305                   Maharashtra         MH
306                   Maharashtra         MH
307                   Maharashtra         MH
308                   Maharashtra         MH
309                   Maharashtra         MH
310                   Maharashtra         MH
311                   Maharashtra         MH
312                   Maharashtra         MH
313                   Maharashtra         MH
314                   Maharashtra         MH
315        Ahmadabad      Gujarat         GJ
316                         Delhi         DL
317        Bagalkote    Karnataka         KA
318
319
320
321

                                                    9   ...  \
1                                                Notes  ...
2                                                       ...
3    Suffering from Diabetes, had a pacemaker, no t...  ...
4    patient passed away at the Fortis Hospital, Mu...  ...
5                                                       ...
6                                                       ...
7                                                       ...
8                                                       ...
9                                                       ...
10                                                      ...
11                                                      ...
12                                                      ...
13                                                      ...
14                                                      ...
15                                                      ...
16                                                      ...
17                                                      ...
18                                                      ...
19                                                      ...
20                                                      ...
21                                                      ...
22                                                      ...
23                                                      ...
24                                                      ...
25                                                      ...
26                                                      ...
27                                                      ...
28                                                      ...
29                                                      ...
30                                                      ...
..                                                 ...  ...
292                                    Details awaited  ...
293                                    Details awaited  ...
294                                    Details awaited  ...
295                                    Details awaited  ...
296                                    Details awaited  ...
297                                    Details awaited  ...
298                                    Details awaited  ...
299                                    Details awaited  ...
300                                    Details awaited  ...
301                                    Details awaited  ...
302                                    Details awaited  ...
303                                    Details awaited  ...
304                                    Details awaited  ...
305                                    Details awaited  ...
306                                    Details awaited  ...
307                                    Details awaited  ...
308                                    Details awaited  ...
309                                    Details awaited  ...
310                                    Details awaited  ...
311                                    Details awaited  ...
312                                    Details awaited  ...
313                                    Details awaited  ...
314                                    Details awaited  ...
315  Had comorbities - HTN and DM. Died at Sola civ...  ...
316                                    Details awaited  ...
317  KA-P125; No travel histiry. Had comorbities in...  ...
318                                                     ...
319                                                     ...
320                                                     ...
321                                                     ...

                                                    12        13  \
1                                             Source_2  Source_3
2
3    https://www.deccanherald.com/national/west/dea...
4    https://www.indiatoday.in/india/story/coronavi...
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
..                                                 ...       ...
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315  https://www.indiatvnews.com/news/india/gujarat...
316
317  https://www.kannadaprabha.com/karnataka/2020/a...
318
319
320
321

                                         14 15 16 17 18 19 20 21
1    Patient_Number (Could be mapped later)
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
..                                      ... .. .. .. .. .. .. ..
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321

[321 rows x 22 columns]

In [6]:
#Statewise

statewise = [] # initialize state
tables = soup.select('table')[2]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    statewise.append(cols)
    
df_sw = pd.DataFrame(statewise)
df_sw = df_sw.iloc[1:]
print(df_sw)
df_sw.to_csv('state_wise.csv',index=False)

                             0  1          2          3       4       5   \
1                         State     Confirmed  Recovered  Deaths  Active
2                         Total          3127        229      86    2812
3
4                   Maharashtra           490         50      26     414
5                    Tamil Nadu           411          6       1     404
6                         Delhi           386          8       6     372
7                        Kerala           295         42       2     251
8                     Telangana           229         32      11     186
9                     Rajasthan           196          3       0     193
10                Uttar Pradesh           174         17       2     155
11               Andhra Pradesh           164          2       1     161
12               Madhya Pradesh           154          0       8     146
13                    Karnataka           128         11       4     113
14                      Gujarat            95         10       9      76
15            Jammu and Kashmir            75          3       2      70
16                      Haryana            58         27       0      31
17                  West Bengal            53          3       6      44
18                       Punjab            53          1       5      47
19                        Bihar            31          3       1      27
20                        Assam            24          0       0      24
21                       Odisha            20          2       0      18
22                   Chandigarh            18          0       0      18
23                  Uttarakhand            16          2       0      14
24                       Ladakh            14          3       0      11
25  Andaman and Nicobar Islands            10          0       0      10
26                 Chhattisgarh             9          3       0       6
27             Himachal Pradesh             6          1       2       3
28                          Goa             7          0       0       7
29                   Puducherry             5          0       0       5
30                    Jharkhand             2          0       0       2
31                      Manipur             2          0       0       2
32                      Mizoram             1          0       0       1
33            Arunachal Pradesh             1          0       0       1
34       Dadra and Nagar Haveli             0          0       0       0
35                Daman and Diu             0          0       0       0
36                  Lakshadweep             0          0       0       0
37                    Meghalaya             0          0       0       0
38                     Nagaland             0          0       0       0
39                       Sikkim             0          0       0       0
40                      Tripura             0          0       0       0

                     6           7                8                9   \
1     Last_Updated_Time  State_code  Delta_Confirmed  Delta_Recovered
2   04/04/2020 10:27:24          TT               19                0
3
4   03/04/2020 21:12:25          MH                0                0
5   03/04/2020 17:37:39          TN                0                0
6   03/04/2020 23:32:32          DL                0                0
7   03/04/2020 19:07:40          KL                0                0
8   03/04/2020 20:27:26          TG                0                0
9   04/04/2020 10:27:25          RJ               17                0
10  03/04/2020 23:57:28          UP                0                0
11  03/04/2020 23:32:41          AP                0                0
12  03/04/2020 23:52:32          MP                0                0
13  03/04/2020 23:42:33          KA                0                0
14  04/04/2020 03:02:25          GJ                0                0
15  03/04/2020 17:37:43          JK                0                0
16  03/04/2020 20:27:29          HR                0                0
17  02/04/2020 18:32:26          WB                0                0
18  02/04/2020 21:02:25          PB                0                0
19  03/04/2020 21:12:26          BR                0                0
20  04/04/2020 09:42:25          AS                1                0
21  03/04/2020 23:42:38          OR                0                0
22  02/04/2020 18:57:31          CH                0                0
23  03/04/2020 21:47:26          UT                0                0
24  27/03/2020 11:52:25          LA                0                0
25  30/03/2020 11:27:27          AN                0                0
26  31/03/2020 23:07:28          CT                0                0
27  03/04/2020 17:17:36          HP                0                0
28  04/04/2020 09:42:27          GA                1                0
29  03/04/2020 02:37:27          PY                0                0
30  02/04/2020 19:42:30          JH                0                0
31  02/04/2020 09:42:34          MN                0                0
32  26/03/2020 07:19:29          MZ                0                0
33  02/04/2020 11:42:31          AR                0                0
34  26/03/2020 07:19:29          DN                0                0
35  26/03/2020 07:19:29          DD                0                0
36  26/03/2020 07:19:29          LD                0                0
37  26/03/2020 07:19:29          ML                0                0
38  26/03/2020 07:19:29          NL                0                0
39  26/03/2020 07:19:29          SK                0                0
40  26/03/2020 07:19:29          TR                0                0

              10
1   Delta_Deaths
2              0
3
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
30             0
31             0
32             0
33             0
34             0
35             0
36             0
37             0
38             0
39             0
40             0

In [28]:
#Date wise delta
 
date_wise_delta = [] # initialize state
tables = soup.select('table')[5]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    date_wise_delta.append(cols) 

df_dwd = pd.DataFrame(date_wise_delta)
df_dwd = df_dwd.iloc[1:]
print(df_dwd)
df_dwd.to_csv('date_wise_delta.csv',index=False)

           0          1  2      3                            4   \
1        Date     Status     Total  Andaman and Nicobar Islands
2
3   30-Mar-20  Confirmed       208                            1
4   30-Mar-20  Recovered        42                            0
5   30-Mar-20   Deceased        13                            0
6   31-Mar-20  Confirmed       288                            0
7   31-Mar-20  Recovered        19                            0
8   31-Mar-20   Deceased         7                            0
9   01-Apr-20  Confirmed       424                            0
10  01-Apr-20  Recovered         9                            0
11  01-Apr-20   Deceased        13                            0
12  02-Apr-20  Confirmed       486                            0
13  02-Apr-20  Recovered        22                            0
14  02-Apr-20   Deceased        11                            0
15  03-Apr-20  Confirmed       563                            0
16  03-Apr-20  Recovered        38                            0
17  03-Apr-20   Deceased        14                            0

                5                  6      7      8           9   ...  \
1   Andhra Pradesh  Arunachal Pradesh  Assam  Bihar  Chandigarh  ...
2                                                                ...
3                2                  0      0      0           5  ...
4                0                  0      0      0           0  ...
5                0                  0      0      0           0  ...
6               21                  0      1      6           2  ...
7                0                  0      0      0           0  ...
8                0                  0      0      0           0  ...
9               67                  0     15      3           2  ...
10               1                  0      0      0           0  ...
11               0                  0      0      0           0  ...
12              38                  1      0      5           1  ...
13               0                  0      0      3           0  ...
14               0                  0      0      0           0  ...
15              15                  0      7      2           0  ...
16               0                  0      0      0           0  ...
17               1                  0      0      0           0  ...

            31      32         33      34          35         36       37  \
1   Puducherry  Punjab  Rajasthan  Sikkim  Tamil Nadu  Telangana  Tripura
2
3            0       3         20       0          17          7        0
4            0       0          0       0           0         13        0
5            0       2          0       0           0          5        0
6            0       1         14       0          57         20        0
7            0       0          0       0           2          0        0
8            0       1          0       0           0          0        0
9            2       4         27       0         110         30        0
10           0       0          0       0           0          0        0
11           0       0          0       0           0          3        0
12           2       1         13       0          75         27        0
13           0       0          0       0           0          3        0
14           0       1          0       0           0          0        0
15           0       6         46       0         102         75        0
16           0       0          0       0           0         15        0
17           0       0          0       0           0          2        0

               38           39           40
1   Uttar Pradesh  Uttarakhand  West Bengal
2
3              24            0            1
4               6            0            0
5               0            0            1
6               8            0           15
7               0            0            3
8               0            0            2
9              13            0            0
10              0            0            0
11              2            0            2
12             11            3           16
13              0            0            0
14              0            0            0
15             46            6            0
16              0            0            0
17              0            0            0

[17 rows x 41 columns]

In [27]:
#Case time series
 
case_ts = [] # initialize state
tables = soup.select('table')[4]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    case_ts.append(cols)
    
df_cts = pd.DataFrame(case_ts)
df_cts = df_cts.iloc[1:]
print(df_cts)
df_cts.to_csv('case_time_series.csv',index=False)

              0                1                2                3  \
1          Date  Daily Confirmed  Total Confirmed  Daily Recovered
2    30 January                1                1                0
3
4    31 January                0                1                0
5   01 February                0                1                0
6   02 February                1                2                0
7   03 February                1                3                0
8   04 February                0                3                0
9   05 February                0                3                0
10  06 February                0                3                0
11  07 February                0                3                0
12  08 February                0                3                0
13  09 February                0                3                0
14  10 February                0                3                0
15  11 February                0                3                0
16  12 February                0                3                0
17  13 February                0                3                1
18  14 February                0                3                0
19  15 February                0                3                0
20  16 February                0                3                1
21  17 February                0                3                0
22  18 February                0                3                0
23  19 February                0                3                0
24  20 February                0                3                1
25  21 February                0                3                0
26  22 February                0                3                0
27  23 February                0                3                0
28  24 February                0                3                0
29  25 February                0                3                0
30  26 February                0                3                0
..          ...              ...              ...              ...
38     05 March                2               30                0
39     06 March                1               31                0
40     07 March                3               34                0
41     08 March                5               39                0
42     09 March                9               48                0
43     10 March               15               63                1
44     11 March                7               70                0
45     12 March               12               82                0
46     13 March                9               91                6
47     14 March               16              107                0
48     15 March                6              113                3
49     16 March               14              127                1
50     17 March               19              146                1
51     18 March               25              171                0
52     19 March               28              199                5
53     20 March               59              258                3
54     21 March               76              334                0
55     22 March               69              403                0
56     23 March              102              505                2
57     24 March               66              571               15
58     25 March               86              657                3
59     26 March               78              735                7
60     27 March              151              886               25
61     28 March              143             1029               10
62     29 March              110             1139               17
63     30 March              208             1347               35
64     31 March              288             1635               13
65     01 April              424             2059               19
66     02 April              486             2545               22
67     03 April              563             3108               38

                  4               5               6
1   Total Recovered  Daily Deceased  Total Deceased
2                 0               0               0
3
4                 0               0               0
5                 0               0               0
6                 0               0               0
7                 0               0               0
8                 0               0               0
9                 0               0               0
10                0               0               0
11                0               0               0
12                0               0               0
13                0               0               0
14                0               0               0
15                0               0               0
16                0               0               0
17                1               0               0
18                1               0               0
19                1               0               0
20                2               0               0
21                2               0               0
22                2               0               0
23                2               0               0
24                3               0               0
25                3               0               0
26                3               0               0
27                3               0               0
28                3               0               0
29                3               0               0
30                3               0               0
..              ...             ...             ...
38                3               0               0
39                3               0               0
40                3               0               0
41                3               0               0
42                3               0               0
43                4               0               0
44                4               0               0
45                4               1               1
46               10               0               1
47               10               1               2
48               13               0               2
49               14               0               2
50               15               1               3
51               15               0               3
52               20               1               4
53               23               0               4
54               23               0               4
55               23               3               7
56               25               2               9
57               40               1              10
58               43               1              11
59               50               5              16
60               75               3              19
61               85               5              24
62              102               3              27
63              137              16              43
64              150               6              49
65              169               7              56
66              191              16              72
67              229              14              86

[67 rows x 7 columns]

In [31]:
#Tested numbers ICMR Data
 
icmr = [] # initialize state
tables = soup.select('table')[7]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    icmr.append(cols)
    
df_icmr = pd.DataFrame(icmr)
df_icmr = df_icmr.iloc[1:]
print(df_icmr)
df_icmr.to_csv('tested_no_icmr_data.csv',index=False)

                    0                     1                         2  \
1   Update Time Stamp  Total Samples Tested  Total Individuals Tested
2
3     13/3/2020 00:00                  6500                      5900
4     18/3/2020 18:00                 13125                     12235
5     19/3/2020 10:00                 13316                     12426
6     19/3/2020 18:00                 14175                     13285
7     20/3/2020 10:00                 14376                     13486
8     20/3/2020 18:00                 15404                     14514
9     21/3/2020 10:00                 15701                     14811
10    21/3/2020 18:00                 16911                     16021
11    22/3/2020 10:00                 16999                     16109
12    22/3/2020 18:00                 18127                     17237
13    23/3/2020 10:00                 18383                     17493
14    23/3/2020 20:00                 20707                     19817
15    24/3/2020 10:00                 20864                     19974
16    24/3/2020 20:00                 22694                     21804
17    25/3/2020 10:00                 22928                     22038
18    25/3/2020 20:00                 25144                     24254
19    26/3/2020 10:00
20    26/3/2020 18:00
21    27/3/2020 09:00                 27688                     26798
22          30/3/2020                 38442
23          31/3/2020                 42788
24           1/4/2020                 47951
25     2/4/2020 21:00                 55851
26     3/4/2020 09:00                 56680
27     3/4/2020 21:00                 69245

                       3                                4  \
1   Total Positive Cases  Tests conducted by Private Labs
2
3                     78
4                    150
5                    168
6                    182
7                    206
8                    236
9                    271
10                   315
11                   341
12                   396
13                   415
14                   471
15                   482
16                   536
17                   539
18                   581
19
20
21                   691
22                                                   1334
23                                                   1733
24                  1637                             4562
25                  2056
26                  2183
27                  2653

                                                    5
1                                              Source
2
3                  Press_Release_ICMR_13March2020.pdf
4             ICMR_website_update_18March_6PM_IST.pdf
5         ICMR_website_update_19March_10AM_IST_V2.pdf
6             ICMR_website_update_19March_6PM_IST.pdf
7            ICMR_website_update_20March_10AM_IST.pdf
8             ICMR_website_update_20March_6PM_IST.pdf
9            ICMR_website_update_21March_10AM_IST.pdf
10            ICMR_website_update_21March_6PM_IST.pdf
11           ICMR_website_update_22March_10AM_IST.pdf
12            ICMR_website_update_22March_6PM_IST.pdf
13           ICMR_website_update_23March_10AM_IST.pdf
14            ICMR_website_update_23March_8PM_IST.pdf
15           ICMR_website_update_24March_10AM_IST.pdf
16            ICMR_website_update_24March_8PM_IST.pdf
17           ICMR_website_update_25March_10AM_IST.pdf
18            ICMR_website_update_25March_8PM_IST.pdf
19
20
21            ICMR_website_update_27March_9AM_IST.pdf
22              MoH Press conference with Dr. Raman G
23              MoH Press conference with Dr. Raman G
24  https://twitter.com/PTI_News/status/1245308976...
25            ICMR_testing_update_02April_9PM_IST.pdf
26            ICMR_testing_update_03April_9AM_IST.pdf
27            ICMR_testing_update_03April_9PM_IST.pdf

In [33]:
#Form responses
 
fr = [] # initialize state
tables = soup.select('table')[8]
rows = tables.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    fr.append(cols)

df_fr = pd.DataFrame(fr)
df_fr = df_fr.iloc[1:]
print(df_fr)
df_fr.to_csv('form_response.csv',index=False)

                     0                    1                              2   \
1     Moderation Status            Timestamp             I want to report a
2
3                        30/03/2020 00:00:59                 Confirmed Case
4                        30/03/2020 00:02:40                 Confirmed Case
5                        30/03/2020 00:03:21                 Confirmed Case
6                        30/03/2020 00:12:06                          Death
7                        30/03/2020 00:17:07                 Confirmed Case
8                        30/03/2020 00:18:27                       Recovery
9                        30/03/2020 00:33:34                 Confirmed Case
10                       30/03/2020 00:42:04                 Confirmed Case
11                       30/03/2020 00:42:47                 Confirmed Case
12                       30/03/2020 00:43:28                 Confirmed Case
13                       30/03/2020 00:48:29                       Recovery
14                       30/03/2020 00:50:34                 Confirmed Case
15                       30/03/2020 01:02:24                 Confirmed Case
16                       30/03/2020 01:06:42                 Confirmed Case
17                       30/03/2020 01:07:41                          Death
18                       30/03/2020 01:13:52                 Confirmed Case
19                       30/03/2020 01:19:52                       Recovery
20                       30/03/2020 01:20:13  Correction needed in the data
21                       30/03/2020 01:20:16                 Confirmed Case
22                       30/03/2020 01:23:05                 Confirmed Case
23                       30/03/2020 01:23:38  Correction needed in the data
24                       30/03/2020 01:33:42  Correction needed in the data
25                       30/03/2020 01:50:07                       Recovery
26                       30/03/2020 02:01:25                       Recovery
27                       30/03/2020 05:25:57                 Confirmed Case
28                       30/03/2020 07:23:13  Correction needed in the data
29                       30/03/2020 07:24:00  Correction needed in the data
30                       30/03/2020 07:25:26                       Recovery
...                 ...                  ...                            ...
2680                     04/04/2020 13:11:43                 Confirmed Case
2681                     04/04/2020 13:12:48                 Confirmed Case
2682                     04/04/2020 13:15:33                 Confirmed Case
2683                     04/04/2020 13:17:07                 Confirmed Case
2684                     04/04/2020 13:17:56                 Confirmed Case
2685                     04/04/2020 13:18:38                       Recovery
2686                     04/04/2020 13:19:31                          Death
2687                     04/04/2020 13:23:19                 Confirmed Case
2688                     04/04/2020 13:24:26                 Confirmed Case
2689                     04/04/2020 13:25:27                 Confirmed Case
2690                     04/04/2020 13:27:05                 Confirmed Case
2691                     04/04/2020 13:28:01                 Confirmed Case
2692                     04/04/2020 13:28:20                          Death
2693                     04/04/2020 13:37:27                 Confirmed Case
2694                     04/04/2020 13:37:38                 Confirmed Case
2695                     04/04/2020 13:39:34                 Confirmed Case
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

                     3              4                        5            6   \
1                 State           City           Patient Gender  Nationality
2
3           West Bengal        Kolkata                     Male       Indian
4           West Bengal        Hooghly               Don't Know       Indian
5           West Bengal        Hooghly                     Male       Indian
6                Punjab                              Don't Know
7           West Bengal        Kolkata                     Male       Indian
8           West Bengal        Kolkata               Don't Know       Indian
9           Maharashtra         Nashik               Don't Know       Indian
10          Maharashtra         Nashik                     Male       Indian
11          Maharashtra         Nashik                     Male       Indian
12          Maharashtra        Jalgaon               Don't Know       Indian
13               Punjab       Amritsar                     Male       Indian
14        Uttar Pradesh         Meerut               Don't Know       Indian
15        Uttar Pradesh         Meerut               Don't Know       Indian
16        Uttar Pradesh                              Don't Know     Not Sure
17    Jammu and Kashmir       Srinagar                     Male       Indian
18            Rajasthan         Jaipur               Don't Know       Indian
19            Rajasthan                              Don't Know     Not Sure
20       Andhra Pradesh  Vidakhspatnam               Don't Know       Indian
21          Maharashtra         MUMBAI             Female, Male       Indian
22        Uttar Pradesh         Merrut               Don't Know       Indian
23       Andhra Pradesh  Visakhapatnam               Don't Know       Indian
24            Rajasthan                              Don't Know
25          Uttarakhand                              Don't Know     Not Sure
26            Telangana                              Don't Know     Not Sure
27            Telangana                                  Female       Indian
28       Andhra Pradesh  Visakhapatnam               Don't Know       Indian
29       Andhra Pradesh  Visakhapatnam               Don't Know       Indian
30       Andhra Pradesh  Visakhapatnam                     Male       Indian
...                 ...            ...                      ...          ...
2680            Gujarat    Gandhinagar                     Male       Indian
2681        Maharashtra                              Don't Know     Not Sure
2682            Gujarat          Patan                     Male       Indian
2683        West Bengal        kolkata  Total number of case 63       Indian
2684      Uttar Pradesh    Maharajganj               Don't Know       Indian
2685             Ladakh                              Don't Know     Not Sure
2686        Maharashtra                              Don't Know       Indian
2687     Andhra Pradesh                              Don't Know     Not Sure
2688            Gujarat      Ahmedabad               Don't Know       Indian
2689          Rajasthan                              Don't Know     Not Sure
2690        Maharashtra                              Don't Know     Not Sure
2691     Andhra Pradesh                              Don't Know     Not Sure
2692        Maharashtra                              Don't Know       Indian
2693      Uttar Pradesh       Varanasi                     Male       Indian
2694        West Bengal        Unknown               Don't Know       Indian
2695     Andhra Pradesh                              Don't Know
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

                                                     7   \
1                     Remarks regarding patient history
2
3     Kolkata: A 59-year-old resident of Hooghly has...
4
5        Patient's brother returned from Madhya Pradesh
6
7                                       Came from Delhi
8
9       Patient hasn't travelled outside India recently
10                                    No travel history
11                                    No travel history
12                                    No travel history
13                           Patient travelled to Italy
14    Relative of first case reported on 27/03/2020 ...
15                                                   No
16
17
18                                            Dont know
19                  9 more cases recovered in Rajasthan
20       Travelled from Birmingham to India on 17-03-20
21                                              contact
22
23          Travelled from Birmingham to India on 17-03
24    District wise data available and may be update...
25
26
27                                                   No
28                            Contacts of patients of 7
29                            Contact with Patient no 7
30                          Patient travelled to medina
...                                                 ...
2680  Possible Community Transfer - Tracing the actu...
2681
2682  Possible Community Transfer - Source is being ...
2683
2684                        Travelled to tabligi jammat
2685
2686
2687
2688
2689
2690
2691
2692
2693                                Delhi jamat related
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

                                                     8               9    10  \
1                                                Source  Announced Date  Age
2
3     https://twitter.com/ANI/status/124432227484649...      29/03/2020   59
4     https://twitter.com/ANI/status/124432227484649...      29/03/2020   59
5     https://mobile.twitter.com/ANI/status/12443222...      29/03/2020   59
6     https://twitter.com/PTI_News/status/1244316683...      29/03/2020
7     http://zeenews.india.com/bengali/state/anesthe...      29/03/2020
8     https://zeenews.india.com/bengali/kolkata/rela...      30/03/2020
9     https://twitter.com/InfoNashik/status/12443085...      29/03/2020
10    https://twitter.com/nasikreport/status/1244296...      29/03/2020   30
11    https://twitter.com/nasikreport/status/1244296...      29/03/2020   30
12    https://twitter.com/NewIndianXpress/status/124...      28/03/2020
13    https://indianexpress.com/article/cities/chand...      27/03/2020
14    Chief medical officer Local media clipping of ...      29/03/2020
15    https://www.google.com/amp/s/www.amarujala.com...      30/03/2020
16    https://www.amarujala.com/amp/lucknow/coronavi...      29/03/2020
17                            https://www.mohfw.gov.in/      29/03/2020   65
18                                              Nothing      30/03/2020   34
19                        http://www.rajswasthya.nic.in      29/03/2020
20    https://www.google.com/url?q=https://twitter.c...      29/03/2020
21                                     AAMDAR RAM KADAM      30/03/2020   35
22                         https://youtu.be/jU24RQTxgZ4      29/03/2020
23    https://www.google.com/url?q=https://twitter.c...      29/03/2020
24                        http://www.rajswasthya.nic.in      29/03/2020
25                            https://www.mohfw.gov.in/      29/03/2020
26    https://twitter.com/ktrtrs/status/124422683613...      29/03/2020
27                                              Covid19      30/03/2020   23
28    https://twitter.com/ArogyaAndhra/status/124430...      29/03/2020
29    https://twitter.com/ArogyaAndhra/status/124430...      29/03/2020
30    https://twitter.com/ArogyaAndhra/status/124430...      29/03/2020   65
...                                                 ...             ...  ...
2680  https://twitter.com/TOIAhmedabad/status/124630...      04/04/2020   63
2681  https://economictimes.indiatimes.com/news/poli...      04/04/2020
2682  https://twitter.com/TOIAhmedabad/status/124630...      04/04/2020   35
2683                          https://www.mohfw.gov.in/      03/04/2020
2684                                      Dynamite news      04/04/2020
2685  https://economictimes.indiatimes.com/news/poli...      04/04/2020
2686  https://twitter.com/DainikBhaskar/status/12463...      04/04/2020
2687  https://www.google.com/amp/s/www.livemint.com/...      04/04/2020
2688                  https://gujcovid19.gujarat.gov.in      04/04/2020
2689  https://twitter.com/PIBJaipur/status/124631624...      04/04/2020
2690  https://economictimes.indiatimes.com/news/poli...      04/04/2020
2691  https://twitter.com/ANI/status/124631989644051...      04/04/2020
2692  https://twitter.com/ANI/status/124629418625443...      04/04/2020
2693  https://timesofindia.indiatimes.com/spotlight/...      04/04/2020   55
2694                          https://www.mohfw.gov.in/      03/04/2020
2695  http://hmfw.ap.gov.in/covid_19_dailybulletins....      04/04/2020
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

                            11  \
1     Regarding Patient Number
2
3
4
5                         1140
6
7
8
9
10
11
12
13                          46
14
15
16
17
18                          24
19
20                        1137
21
22
23                        1138
24
25
26
27
28                          20
29                          21
30                           3
...                        ...
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

                                                     12          13 14 15 16  \
1                                         Other Remarks  Patient ID
2
3     Kolkata: A 59-year-old resident of Hooghly has...
4
5                    Brother contact.. In ICU currently
6                     Also 2nd death in J&K not updated
7                                           Age unknown
8                3 Patients recovered from Beleghata ID
9                                  First case in Nashik
10
11
12
13             Punjab's first COVID-19 patient recovers
14                           I can share the video clip
15                              8 new patient in meerut
16                 Total patient in uttarpradesh now 80
17    Your data shows only 1 death in J&K but there ...
18                                                   No
19    total 12 recover in Rajasthan as on 29.03.2020...
20    Belongs  to VISAKHAPATNAM  district (along wit...
21
22             CMO CONFIRM 8 new cases in Meerut now 13
23    Belongs  to VISAKHAPATNAM  district (along wit...
24
25                                1 more recovery count
26    11 ppl have recovered as per state cm  declara...
27
28                                   C this information
29
30
...                                                 ...         ... .. .. ..
2680  Note 2 different cases in Gandhinagar 1st Pati...
2681
2682
2683
2684  There are total 6 patients are tested positive...
2685            Total cured persons in Ladakh is now 9.
2686  Please verify the Death Count. Dainik Bhaskar ...
2687
2688  5 cases increased  in Ahmedabad, 2 in Bhavnaga...
2689                        Total positive in state 171
2690
2691
2692
2693  Total cases in city is new 7, 5 new cases 2 ea...
2694  10 new patients in West Bengal, the no. is 63 ...
2695  180 cases confirmed by andhra Pradesh.. Update...
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

     17
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
...  ..
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709

[2709 rows x 18 columns]

In [25]:
#Statewise tested number data
 
state_tested = [] # initialize state
tables = soup.select('table')[3]
tables

rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    state_tested.append(cols)
    #print(cols)
    
df_state_tested = pd.DataFrame(state_tested)
df_state_tested = df_state_tested.iloc[1:]
print(df_state_tested)
df_state_tested.to_csv('state_tested.csv',index=False)

                             0             1         2         3   \
1                         State  Total_Tested  Positive  Negative
2
3                         Total
4   Andaman and Nicobar Islands
5                Andhra Pradesh          1800       132      1175
6             Arunachal Pradesh
7                         Assam           962        16       819
8                         Bihar          2629        31      1666
9                    Chandigarh           124        18        98
10                 Chhattisgarh          1232         9       921
11       Dadra and Nagar Haveli
12                Daman and Diu
13                        Delhi          2621
14                          Goa           220         5       197
15                      Gujarat          1862        88      1714
16                      Haryana          1325        44       938
17             Himachal Pradesh
18            Jammu and Kashmir          1084        70      1010
19                    Jharkhand
20                    Karnataka          4587       128      4281
21                       Kerala          8456       286      7622
22                       Ladakh
23                  Lakshadweep
24               Madhya Pradesh          1455       107      1086
25                  Maharashtra
26                      Manipur
27                    Meghalaya
28                      Mizoram
29                     Nagaland
30                       Odisha          1395        20      1108
31                   Puducherry
32                       Punjab          1434        37      1236
33                    Rajasthan          8852       168      8357
34                       Sikkim
35                   Tamil Nadu          3684       411      2789
36                    Telangana
37                      Tripura
38                Uttar Pradesh          4006       174      3635
39                  Uttarakhand           678         7       554
40                  West Bengal           659        37       568
41                   Tamil Nadu          3684       411      2789

             4                    5                   6             7   \
1   Unconfirmed  People_In_Isolation  Num_Isolation_Beds  Num_ICU_Beds
2
3
4
5           493                  179               23479          2680
6             0
7           127
8           932
9             8
10          302
11
12            0
13         2621
14           18
15           60
16          343
17            0
18            4
19            0
20          178                  219
21          548
22            0
23            0
24          262
25            0
26            0
27            0
28            0
29            0
30          267
31            0
32          161
33          327
34            0
35          484                  284               13323
36            0
37            0
38          197
39          117
40           54
41          484

                 8               9   ... 20 21 22 23 24 25 26 27 28 29
1   Num_Ventilators      Updated_On  ...
2                                    ...
3                                    ...
4                                    ...
5               330      2020-04-02  ...
6                                    ...
7                        02/04/2020  ...
8                        04/04/2020  ...
9                        02/04/2020  ...
10                       02/04/2020  ...
11                                   ...
12                                   ...
13                       01/04/2020  ...
14                       02/04/2020  ...
15             1761      03/04/2020  ...
16                       2020-04-03  ...
17                                   ...
18                   2/4/2020 18:00  ...
19                                   ...
20                       03/04/2020  ...
21                       02/04/2020  ...
22                                   ...
23                                   ...
24                       02/04/2020  ...
25                                   ...
26                                   ...
27                                   ...
28                                   ...
29                                   ...
30                       03/04/2020  ...
31                                   ...
32                       02/04/2020  ...
33                       03/04/2020  ...
34                                   ...
35             3044      03/04/2020  ...
36                                   ...
37                                   ...
38                       03/04/2020  ...
39                       02/04/2020  ...
40                       01/04/2020  ...
41                       03/04/2020  ...

[41 rows x 30 columns]

In [12]:
#Travel data

travel_data = [] # initialize state
tables = soup.select('table')[-6]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    travel_data.append(cols)
    
df_travel_data = pd.DataFrame(travel_data)
df_travel_data = df_travel_data.iloc[1:]
print(df_travel_data)
df_travel_data.to_csv('travel_data.csv',index=False)

      0     1                    2                    3   \
1          PID            time_from              time_to
2      1   P35  29/02/2020 10:30:00  29/02/2020 11:30:00
3      2   P35  01/03/2020 21:30:00  01/03/2020 23:00:00
4      3   P35  02/03/2020 11:00:00  02/03/2020 11:30:00
5      4   P35  02/03/2020 11:30:00  02/03/2020 12:00:00
6      5   P35  02/03/2020 12:00:00  02/03/2020 13:00:00
7      6   P35  02/03/2020 13:15:00  02/03/2020 14:00:00
8      7   P35  02/03/2020 14:30:00
9      8   P35  02/03/2020 18:00:00
10     9   P35  02/03/2020 19:00:00
11    10   P35  03/03/2020 12:00:00
12    11   P35  04/03/2020 10:00:00  04/03/2020 10:30:00
13    12   P35  04/03/2020 10:30:00  04/03/2020 11:30:00
14    13   P35  05/03/2020 11:45:00  05/03/2020 12:15:00
15    14   P35  05/03/2020 12:15:00  05/03/2020 12:45:00
16    15   P35  05/03/2020 12:45:00  05/03/2020 13:15:00
17    16   P35  05/03/2020 13:15:00  05/03/2020 14:00:00
18    17   P35  05/03/2020 15:00:00
19    18   P35           06/03/2020
20    19  P139     13/03/2020 03:30     13/03/2020 05:00
21    20  P139     13/03/2020 06:20     13/03/2020 06:50
22    21  P139     13/03/2020 07:00     13/03/2020 07:20
23    22  P139     13/03/2020 07:30     13/03/2020 07:30
24    23  P139     13/03/2020 15:30     13/03/2020 17:30
25    24  P139     13/03/2020 17:50     13/03/2020 18:06
26    25  P139     13/03/2020 19:09     13/03/2020 19:09
27    26  P139     13/03/2020 19:45     13/03/2020 19:45
28    27  P139     13/03/2020 21:45
29    28  P118     09/03/2020 08:05
30    29  P118     09/03/2020 10:30
..   ...   ...                  ...                  ...
211  210  P116      02/29/2020 0:00      02/29/2020 0:00
212  211  P116     03/01/2020 00:00     03/02/2020 00:00
213  212  P116     03/03/2020 00:00     03/03/2020 00:00
214  213  P116     03/04/2020 00:00     03/05/2020 00:00
215  214  P116     03/06/2020 00:00     03/06/2020 00:00
216  215  P116     03/07/2020 00:00     03/08/2020 00:00
217  216  P116     03/09/2020 00:00     03/09/2020 00:00
218  217  P116     03/10/2020 00:00     03/10/2020 00:00
219  218  P116     03/11/2020 00:00
220  219  P119     03/12/2020 07:30     03/12/2020 09:30
221  220  P119     03/12/2020 09:30     03/12/2020 15:30
222  221  P119     03/12/2020 15:30     03/12/2020 15:30
223  222  P119     03/12/2020 15:30     03/12/2020 16:00
224  223  P119     03/12/2020 16:00
225  224  P119     03/13/2020 10:10     03/13/2020 10:20
226  225  P119     03/13/2020 11:00     03/13/2020 11:00
227  226  P119     03/13/2020 14:00
228  227  P175     03/15/2020 16:15
229  228  P175     03/15/2020 23:33
230  229  P175      03/19/2020 0:00
231  230   P52     03/01/2020 13:00     03/01/2020 14:00
232  231   P52     03/01/2020 14:00     03/01/2020 14:00
233  232   P52     03/01/2020 17:30     03/01/2020 17:30
234  233   P52     03/02/2020 17:30     03/02/2020 17:30
235  234   P52     03/03/2020 10:00     03/03/2020 13:00
236  235   P52     03/03/2020 17:30     03/03/2020 18:00
237  236   P52     03/07/2020 17:30     03/07/2020 18:00
238  237   P52     03/08/2020 14:30     03/08/2020 15:00
239  238   P52     03/08/2020 20:30     03/08/2020 20:30
240  239   P52     03/08/2020 20:30     03/08/2020 20:30

                                                    4   \
1                                              Address
2        Hotel Aryas, Kuthattukulam, Muvattupuzha road
3                                   Suresh Hotel Ranni
4                  Post Office Ranni Pazvangadi, Ranni
5                     Knanaya Church, Pazvangadi Ranni
6                         Post Office Ranni Pazvangadi
7                      Golde Emporium, New Hypermarket
8                      Muthoot mini supermarket, Ranni
9                            Imperial Backers, Punalur
10                  Relative house, Manjar PO, Punalur
11                            SBI/SBT Ranni, Thottamon
12                            SBI/SBT Ranni, Thottamon
13                              Supreme Travels, Ranni
14                         UAE Exchange Pathanamthitta
15                           SP Office, Pathanamthitta
16                        Royal Studio, Pathanamthitta
17                     Josco Jewellery, Pathanamthitta
18                               Ranni Gate Hotel, Bar
19   Admitted to Hospital. Probably Pathanamthita G...
20                     Kozhikode International Airport
21   Indian Coffe House, Nuts street, Adakkatheru, ...
22                              General Hospital, Mahe
23                          Residence at palloor, Mahe
24             Beach Hospital, Corona Ward, Kozhikkode
25              Railway Station platform 4, Kozhikkode
26             Railway Station Platform 1, Thalasserry
27                          Residence at palloor, Mahe
28                             General Hospital , Mahe
29                          Arrival at Karipur airport
30   Travel in an autocab and stopped outside relat...
..                                                 ...
211  Met father at Fathers House Near KNZ Function ...
212                           Stayed at own house Fort
213  Met father at Fathers House Near KNZ Function ...
214                           Stayed at own house Fort
215  Met father at Fathers House Near KNZ Function ...
216                           Stayed at own house Fort
217  Accompanied patient 6 (father) in ambulance du...
218  stayed at fathers house Near KNZ Function Hall...
219                Admitted to ESI Hospital Kalaburagi
220  Arrival at Nedumbassery Airport by AirIndia Fl...
221  Started travel from Airport in Benzy travels b...
222            Reached Busstop near Hajj House Karipur
223                                     Travel to home
224    Reached home at Chemrakkattil Vellari, Areakode
225           Consultation at Areecode Thaluk Hospital
226                                        Return Home
227    Admitted at Government Medical college, Manjeri
228  Reached Kempegowda Intl Airport by Indigo Flig...
229  Took KSRTC Rajahamsa Bus(KA 19 F 3170) from Sa...
230                 Tested COVID-19 positive in Kodagu
231  Travel from airport to Paradie Biryani Whitefield
232                       Paradise Biryani, Whitefield
233                        Met friend in her apartment
234                      Walk in apartment with friend
235                         Movie at Forum Valley Mall
236                      Walk in apartment with friend
237                      Walk in apartment with friend
238                        Bought medicine at Mediwave
239                             Met Dhobi in apartment
240                                  Admitted in RJICD

                          5                  6           7   \
1                   lat_long  Accuracy_Location        Type
2       9.8614231,76.5900643                     placeVisit
3        9.3823686,76.779199                     placeVisit
4       9.3757533,76.7763825                     placeVisit
5        9.375753,76.7698164                     placeVisit
6       9.3757533,76.7763825                     placeVisit
7        9.385127,76.7849146                     placeVisit
8                                                placeVisit
9         9.0164797,76.92397                     placeVisit
10      9.0158521,76.9097683                     placeVisit
11      9.3772508,76.7756069                     placeVisit
12      9.3772508,76.7756069                     placeVisit
13                                               placeVisit
14       9.263646,76.7829783                     placeVisit
15      9.2728908,76.7892299                     placeVisit
16   9.2611563,76.7879638,18                     placeVisit
17      9.2661764,76.7809417                     placeVisit
18       9.386206,76.7863243                     placeVisit
19                                               placeVisit
20      11.1397276,75.948596                         travel
21     11.6015612,75.5910405                         travel
22     11.6995079,75.5344015                         travel
23     11.7208115,75.5349187                         travel
24     11.2566435,75.7685646                         travel
25     11.2486712,75.7781127                         travel
26     11.7531875,75.4919971                         travel
27     11.7208115,75.5349187                         travel
28     11.6995079,75.5344015                     placeVisit
29      11.1397276,75.948596                         travel
30      11.1792876,76.144535                         travel
..                       ...                ...         ...
211   12.9541759, 74.8836158                     placeVisit
212   12.6251924, 75.0875817                     placeVisit
213   12.6251924, 75.0875817                     placeVisit
214   12.6251924, 75.0875817                     placeVisit
215   12.4974113, 75.0515372                     placeVisit
216                                              placeVisit
217   17.3447321, 76.8201453                         Travel
218   17.3404932, 76.8274257                     placeVisit
219   17.3447321, 76.8201453                     placeVisit
220   17.3404932, 76.8274257                     placeVisit
221   17.3447321, 76.8201453                         Travel
222   17.3404932, 76.8274257                     placeVisit
223                                                  Travel
224   17.3447321, 76.8201453                     placeVisit
225   17.3216051, 76.8695485                     placeVisit
226   10.1517834, 76.3907693                     placeVisit
227                                              placeVisit
228   11.1507361, 75.9454172                         Travel
229                                                  Travel
230   11.2313268, 76.0420297
231                                                  Travel
232   12.9572489, 77.7428406                     placeVisit
233                                              placeVisit
234                                              placeVisit
235   12.9597162, 77.7461103                     placeVisit
236                                              placeVisit
237                                              placeVisit
238                                              placeVisit
239                                              placeVisit
240   12.9383702, 77.5885142                     placeVisit

                                                  8   \
1                                     Mode of Travel
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20                                              Taxi
21                                              Taxi
22                                              Taxi
23                                         Ambulance
24                                       Autorikshaw
25                          Mangala Express, Sleeper
26                                       Autorikshaw
27                                         Ambulance
28
29   Air India Flight No. AI 960 (Jeddah to Karipur)
30                                           Autocab
..                                               ...
211
212
213
214
215
216
217                                        Ambulance
218
219
220                                           Flight
221                               Bus(Benzy Travels)
222
223
224
225
226
227
228                                           Flight
229                                              Bus
230
231                                              Car
232
233
234
235
236
237
238
239
240

                                                    9   \
1                                            PlaceName
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
..                                                 ...
211                    Mangalore International Airport
212                      Kasargod Govt medical collage
213                      Kasargod Govt medical collage
214                      Kasargod Govt medical collage
215            Bevinja - Bovikanam Road, Kerala 671542
216
217                                  KNZ Function Hall
218  Gulbarga Fort, Halbarga, Brhampur, Gulbarga, K...
219                                  KNZ Function Hall
220  Gulbarga Fort, Halbarga, Brhampur, Gulbarga, K...
221                                  KNZ Function Hall
222  Gulbarga Fort, Halbarga, Brhampur, Gulbarga, K...
223
224                                  KNZ Function Hall
225               ESIC Hospital, Kalaburagi (Gulbarga)
226                       Cochin International Airport
227
228     Haj House, kerala state hajj Committee Karipur
229
230                            Areekode, Kerala 673639
231
232                    Paradise Biryani %7C Whitefield
233
234
235                              INOX Forum Value Mall
236
237
238
239
240                                             Health

                                                    10 11
1                                           DataSource
2    https://drive.google.com/drive/folders/1yAgt3I...
3    https://drive.google.com/drive/folders/1yAgt3I...
4    https://drive.google.com/drive/folders/1yAgt3I...
5    https://drive.google.com/drive/folders/1yAgt3I...
6    https://drive.google.com/drive/folders/1yAgt3I...
7    https://drive.google.com/drive/folders/1yAgt3I...
8    https://drive.google.com/drive/folders/1yAgt3I...
9    https://drive.google.com/drive/folders/1yAgt3I...
10   https://drive.google.com/drive/folders/1yAgt3I...
11   https://drive.google.com/drive/folders/1yAgt3I...
12   https://drive.google.com/drive/folders/1yAgt3I...
13   https://drive.google.com/drive/folders/1yAgt3I...
14   https://drive.google.com/drive/folders/1yAgt3I...
15   https://drive.google.com/drive/folders/1yAgt3I...
16   https://drive.google.com/drive/folders/1yAgt3I...
17   https://drive.google.com/drive/folders/1yAgt3I...
18   https://drive.google.com/drive/folders/1yAgt3I...
19   https://drive.google.com/drive/folders/1yAgt3I...
20   https://drive.google.com/drive/folders/1yAgt3I...
21   https://drive.google.com/drive/folders/1yAgt3I...
22   https://drive.google.com/drive/folders/1yAgt3I...
23   https://drive.google.com/drive/folders/1yAgt3I...
24   https://drive.google.com/drive/folders/1yAgt3I...
25   https://drive.google.com/drive/folders/1yAgt3I...
26   https://drive.google.com/drive/folders/1yAgt3I...
27   https://drive.google.com/drive/folders/1yAgt3I...
28   https://drive.google.com/drive/folders/1yAgt3I...
29   https://drive.google.com/drive/folders/1yAgt3I...
30   https://drive.google.com/drive/folders/1yAgt3I...
..                                                 ... ..
211  https://drive.google.com/drive/folders/1yAgt3I...
212  https://drive.google.com/drive/folders/1yAgt3I...
213  https://drive.google.com/drive/folders/1yAgt3I...
214  https://drive.google.com/drive/folders/1yAgt3I...
215  https://drive.google.com/drive/folders/1yAgt3I...
216  https://drive.google.com/drive/folders/1yAgt3I...
217  https://drive.google.com/drive/folders/1yAgt3I...
218  https://drive.google.com/drive/folders/1yAgt3I...
219  https://drive.google.com/drive/folders/1yAgt3I...
220  https://drive.google.com/drive/folders/1yAgt3I...
221  https://drive.google.com/drive/folders/1yAgt3I...
222  https://drive.google.com/drive/folders/1yAgt3I...
223  https://drive.google.com/drive/folders/1yAgt3I...
224  https://drive.google.com/drive/folders/1yAgt3I...
225  https://drive.google.com/drive/folders/1yAgt3I...
226  https://drive.google.com/drive/folders/1yAgt3I...
227  https://drive.google.com/drive/folders/1yAgt3I...
228  https://drive.google.com/drive/folders/1yAgt3I...
229  https://drive.google.com/drive/folders/1yAgt3I...
230  https://drive.google.com/drive/folders/1yAgt3I...
231  https://drive.google.com/drive/folders/1yAgt3I...
232  https://drive.google.com/drive/folders/1yAgt3I...
233  https://drive.google.com/drive/folders/1yAgt3I...
234  https://drive.google.com/drive/folders/1yAgt3I...
235  https://drive.google.com/drive/folders/1yAgt3I...
236  https://drive.google.com/drive/folders/1yAgt3I...
237  https://drive.google.com/drive/folders/1yAgt3I...
238  https://drive.google.com/drive/folders/1yAgt3I...
239  https://drive.google.com/drive/folders/1yAgt3I...
240  https://drive.google.com/drive/folders/1yAgt3I...

[240 rows x 12 columns]

In [16]:
#District List

district_data = [] # initialize state
tables = soup.select('table')[-2]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    district_data.append(cols)
    
df_district_data = pd.DataFrame(district_data)
df_district_data = df_district_data.iloc[1:]
print(df_district_data)
df_district_data.to_csv('district_data.csv',index=False)

       0                         1                            2  \
1      N                  District                        State
2
3      1                  Nicobars  Andaman and Nicobar Islands
4      2  North and Middle Andaman  Andaman and Nicobar Islands
5      3             South Andaman  Andaman and Nicobar Islands
6      4                 Anantapur               Andhra Pradesh
7      5                  Chittoor               Andhra Pradesh
8      6             East Godavari               Andhra Pradesh
9      7                    Guntur               Andhra Pradesh
10     8                   Krishna               Andhra Pradesh
11     9                   Kurnool               Andhra Pradesh
12    10                  Prakasam               Andhra Pradesh
13    11            S.P.S. Nellore               Andhra Pradesh
14    12                Srikakulam               Andhra Pradesh
15    13             Visakhapatnam               Andhra Pradesh
16    14              Vizianagaram               Andhra Pradesh
17    15             West Godavari               Andhra Pradesh
18    16                    Y.S.R.               Andhra Pradesh
19    17                     Anjaw            Arunachal Pradesh
20    18                 Changlang            Arunachal Pradesh
21    19               East Kameng            Arunachal Pradesh
22    20                East Siang            Arunachal Pradesh
23    21                     Kamle            Arunachal Pradesh
24    22                 Kra Daadi            Arunachal Pradesh
25    23              Kurung Kumey            Arunachal Pradesh
26    24                 Lepa Rada            Arunachal Pradesh
27    25                     Lohit            Arunachal Pradesh
28    26                  Longding            Arunachal Pradesh
29    27       Lower Dibang Valley            Arunachal Pradesh
30    28               Lower Siang            Arunachal Pradesh
..   ...                       ...                          ...
721  719               Murshidabad                  West Bengal
722  720                     Nadia                  West Bengal
723  721         North 24 Parganas                  West Bengal
724  722         Paschim Bardhaman                  West Bengal
725  723           Purba Bardhaman                  West Bengal
726  724            Medinipur East                  West Bengal
727  725                   Purulia                  West Bengal
728  726         South 24 Parganas                  West Bengal
729  727            Uttar Dinajpur                  West Bengal
730  728                                                Mizoram
731  729                                                Mizoram
732  730                                                Mizoram
733  731                                             Tamil Nadu
734  732                                             Tamil Nadu
735  733                                             Tamil Nadu
736  734                                             Tamil Nadu
737  735                                             Tamil Nadu
738
739
740
741
742
743
744
745
746
747
748
749
750

                                     3                      4
1                                Notes  Other Names/Spellings
2
3
4
5       Port Blair is in South Andaman
6
7
8
9
10   Vijayawada is in Krishna district
11
12
13
14
15
16
17
18                              Kadapa
19
20
21
22
23
24
25
26
27
28
29
30
..                                 ...                    ...
721
722
723                                        24 paraganas north
724
725
726                                           Purba Medinipur
727                                                  puruliya
728                                         24 south parganas
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750

[750 rows x 5 columns]

In [14]:
#State Codes

state_code = [] # initialize state
tables = soup.select('table')[-1]
rows = tables.find_all('tr')
rows
for row in rows:
    cols = row.find_all('td')
    cols = [item.text.strip() for item in cols]
    state_code.append(cols)
    
df_state_code = pd.DataFrame(state_code)
df_state_code = df_state_code.iloc[1:]
print(df_state_code)
df_state_code.to_csv('state_code.csv',index=False)

      0                            1             2
1   No.                    State/ UT  Abbreviation
2     1               Andhra Pradesh            AP
3     2            Arunachal Pradesh            AR
4     3                        Assam            AS
5     4                        Bihar            BR
6     5                 Chhattisgarh            CT
7     6                          Goa            GA
8     7                      Gujarat            GJ
9     8                      Haryana            HR
10    9             Himachal Pradesh            HP
11   10                    Jharkhand            JH
12   11                    Karnataka            KA
13   12                       Kerala            KL
14   13               Madhya Pradesh            MP
15   14                  Maharashtra            MH
16   15                      Manipur            MN
17   16                    Meghalaya            ML
18   17                      Mizoram            MZ
19   18                     Nagaland            NL
20   19                       Odisha            OR
21   20                       Punjab            PB
22   21                    Rajasthan            RJ
23   22                       Sikkim            SK
24   23                   Tamil Nadu            TN
25   24                    Telangana            TG
26   25                      Tripura            TR
27   26                  Uttarakhand            UT
28   27                Uttar Pradesh            UP
29   28                  West Bengal            WB
30   29  Andaman and Nicobar Islands            AN
31   30                   Chandigarh            CH
32   31       Dadra and Nagar Haveli            DN
33   32                Daman and Diu            DD
34   33                        Delhi            DL
35   34            Jammu and Kashmir            JK
36   35                       Ladakh            LA
37   36                  Lakshadweep            LD
38   37                   Puducherry            PY